.wbpollclear {
    clear: both;
}

.search-field input {
    height: 30px !important;
}

#poststuff h2.nav-tab-wrapper {
    margin-bottom: -9px;
}

body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul#wb_poll_answers_items li.placeholder {
    position: relative;
}

ul#wb_poll_answers_items li.placeholder:before {
    position: absolute;
}

.wb_pollmove {
    margin: 0 0 0 5px;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
}

.cbpollmoveicon {
    background: url("../images/drag-dots.svg") right top no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: block;
    text-indent: -99999px;
    cursor: move;
}

.wbpoll_answer_wrap {
    margin: 0 0 10px;
    position: relative;
}

.wbpoll_answer_wrap:after {
    content: "";
    display: table;
    clear: both;
}

.wb-poll-answers-items-content-wrapper {
    margin: 0;
    padding: 20px;
    border: 1px solid #ddd;
    position: relative;
}

.wb-poll-answers-items-content-wrapper ul#wb_poll_answers_items {
    margin: 0;
}

.wb_poll_items {
    list-style: none;
    position: relative;
    margin: 0 0 15px;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.wbpoll-containable-list-item-toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wbpoll-containable-list-item-toolbar:hover,
.wbpoll-containable-list-item-toolbar.active {
    background-color: #fafafa;
}

.wbpoll-containable-list-item-toolbar-collapse-text {
    margin: 0 0 0 15px;
    padding: 7px 0 7px 20px;
    border-left: 1px solid #ddd;
}

.wbpoll-containable-list-item-toolbar-collapse-text span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #e4e2e2;
    font-size: 15px;
    font-weight: bold;
    border-radius: 100px;
    text-align: center;
}

.wbpoll-containable-list-item-toolbar-collapse-text span:empty {
    display: none;
}

.wbpoll-containable-list-item-toolbar-preview-text span {
    display: block;
    font-size: 15px;
    font-weight: 600;
}

.wbpoll-containable-list-item-toolbar-preview-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background: white;
    color: #999;
    border-radius: 3px;
    border: 1px solid #ddd;
    font-size: 8px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}

.wbpoll-containable-list-item-toolbar-preview-type span {
    padding: 0.25rem;
}

.wb_pollremove.dashicons.dashicons-trash {
    margin-right: auto;
    padding: 12px;
    border-right: 1px solid #ddd;
}

.wb_pollremove.dashicons.dashicons-trash:hover {
    color: #ff0000;
}

.wbpoll-containable-list-item-toolbar.active .wbpoll-toolbar-toggle::before {
    display: inline-block;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.wbpoll-toolbar-toggle {
    padding: 12px;
    border-right: 1px solid #ddd;
    cursor: pointer;
}

.wbpoll-containable-list-item-editor {
    padding: 15px;
    border-top: 1px solid #ddd;
}

.wbpoll-options-input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.wbpoll-containable-list-item-editor-text {
    display: block;
}

.wbpoll-containable-list-item-editor-text .wbpoll-options-input-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.wbpoll-containable-list-item-editor-text .wbpoll-options-input-container div.mce-panel {
    border: 1px solid #dcdcde !important;
}

.wbpoll-containable-list-item-editor-text .wp-picker-container .wp-color-result.button {
    vertical-align: middle;
}

.wbpoll-containable-list-item-editor .wbpoll-image-input-preview {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: #fafafa;
    border: 1px solid #ddd;
}

.wbpoll-containable-list-item-editor .wbpoll-image-input-preview:before {
    content: "Preview";
    position: absolute;
    margin: auto;
    color: #ddd;
    text-shadow: 0 -1px 0 #fff;
}

.wbpoll-image-input-preview-thumbnail {
    z-index: 1;
}

.wbpoll-image-input-preview-thumbnail iframe {
    width: 100%;
    height: 100%;
}

.wbpoll-image-input-preview-thumbnail .fluid-width-video-wrapper {
    padding: 0 !important;
    width: auto;
}

.wbpoll-image-input-preview-thumbnail .fluid-width-video-wrapper iframe,
.wbpoll-image-input-preview-thumbnail .fluid-width-video-wrapper object,
.wbpoll-image-input-preview-thumbnail .fluid-width-video-wrapper embed {
    position: static;
}

.wbpoll-image-input-preview-thumbnail img {
    width: 100%;
    height: 100%;
    max-height: 210px;
}

.wbpoll-containable-list-item-editor .wbpoll-image-input-details {
    margin-right: 1rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.wbpoll-containable-list-item-editor .wbpoll-input-group {
    margin-bottom: 1rem;
}

.wbpoll-containable-list-item-editor .wbpoll-input-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.wbpoll-containable-list-item-editor .wbpoll-input-group:last-child {
    margin-bottom: 0;
}

.wbpoll-containable-list-item-editor .wbpoll-input-group-suggestions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
}

.wbpoll-containable-list-item-editor .wbpoll-input-group-suggestions span {
    color: #bbb;
    margin-left: 10px;
}

.wbpoll-containable-list-item-editor .wbpoll-input-group-suggestions label {
    margin-bottom: 0;
    margin-left: 10px;
}

.wbpoll-containable-list-item-editor .wbpoll-input-group-suggestions input {
    margin: 0 0 0 3px;
}

.wb_poll_items .wp-picker-container {
    position: relative;
    top: 3px;
    right: 0;
    display: inline-block;
}

.wb_pollremove {
    cursor: pointer;
}

.wb_poll_items_placeholder {
    background: #f7f7f7;
    min-height: 36px;
    border: 1px dashed;
}

.wbpollshortcodetrigger {
    margin-top: 5px;
    margin-right: 4px;
    float: right;
    display: inline-block;
}

.wbpollshortcode,
.wbpollshortcode-text {
    background: #f7f7f7;
    border: 1px solid #ccc !important;
    padding: 3px 6px !important;
    float: right;
    display: inline-block;
    max-width: 125px;
}


.wbpollemded,
.wbpollemded-text {
    background: #f7f7f7;
    border: 1px solid #ccc !important;
    padding: 3px 6px !important;
    float: right;
    display: inline-block;    
}

.wbpollemded+.wbpoll_embed {
    margin: 5px;
}

.wbpollshortcode-single,
.wbpollshortcode-single-text {
    box-sizing: border-box;
}

.wbpoll-buttons-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    gap: 20px;
    margin: 0 0 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

.wbpoll-buttons-horizontal .add-wb-poll-answer-wrap {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
}

.wp-core-ui .add-wb-poll-answer-wrap .button {
    margin: 0;
    text-shadow: none;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: white;
    color: #333;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    width: 100%;
}

.wp-core-ui .add-wb-poll-answer-wrap .button i {
    margin-left: 5px;
}

.wp-core-ui .add-wb-poll-answer-wrap .button:hover {
    background: transparent;
    border-color: #bbbbbb;
    box-shadow: 0 3px 24px 0 rgba(18, 43, 70, .08);
}

.wbcom-polls-option-wrap {
    padding: 20px;
    border: 1px solid #ddd;
}

.wbpoll-answer-options tbody>tr {
    border-bottom: 1px solid #ddd;
}

.wbpoll-answer-options tbody>tr:last-child {
    border: 0;
}

.wbpoll-multiselect-wrapper {
    display: flex;
    flex-flow: wrap;
}

.wbpoll-multiselect-wrapper .select2-container,
.wbpoll-multiselect-wrapper .select2-container .select2-search--inline .select2-search__field {
    width: 100% !important;
}

.wbpoll-multiselect-wrapper span.description {
    flex: 0 0 100%;
}

.wbcom-polls-option-wrap .wbpoll-answer-options td input[type="text"],
.wbcom-polls-option-wrap .wbpoll-answer-options td input[type="number"] {
    width: 100%;
    min-height: 48px;
}

.wbpoll-answer-options tbody>tr .description {
    margin-top: 10px;
    display: block;
}

.wbpoll-answer-options tbody>tr .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: rgb(226 232 240/1);
    border-radius: 100px;
    color: rgb(15 23 42/1);
    display: inline-block;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.25;
    margin-right: 0.125rem;
    margin-left: 0.125rem;
    padding: 0.125rem 0.5rem;
}

.form-table td fieldset.radio_fields label {
    display: inline-block !important;
    margin-left: 10px !important;
}

.form-table td fieldset.radio_fields label:last-child {
    margin-left: 0px !important;
}
.wbpoll_embed,
.wbpoll_ctp {
    background-image: url("../images/clippy.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.float-left {
    float: right !important;
}

@media screen and (max-width: 850px) {

    .wbcom-polls-option-wrap .wbpoll-answer-options th,
    .wbcom-polls-option-wrap .wbpoll-answer-options td {
        padding: 10px 0;
    }
}

/* Tooltip */
:root {
    --balloon-border-radius: 2px;
    --balloon-color: rgba(16, 16, 16, 0.95);
    --balloon-text-color: #fff;
    --balloon-font-size: 12px;
    --balloon-move: 4px;
}

.wbpollpoll_ctp[aria-label][data-balloon-pos] {
    overflow: visible;
}

[aria-label][data-balloon-pos] {
    position: relative;
    cursor: pointer;
}

[aria-label][data-balloon-pos]:after {
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out 0.18s;
    transition: all 0.18s ease-out 0.18s;
    text-indent: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
    font-size: var(--balloon-font-size);
    background: var(--balloon-color);
    border-radius: 2px;
    color: var(--balloon-text-color);
    border-radius: var(--balloon-border-radius);
    content: attr(aria-label);
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
}

[aria-label][data-balloon-pos]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: var(--balloon-color);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out 0.18s;
    transition: all 0.18s ease-out 0.18s;
    content: "";
    position: absolute;
    z-index: 10;
}

[aria-label][data-balloon-pos]:hover:before,
[aria-label][data-balloon-pos]:hover:after,
[aria-label][data-balloon-pos][data-balloon-visible]:before,
[aria-label][data-balloon-pos][data-balloon-visible]:after,
[aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:before,
[aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:after {
    opacity: 1;
    pointer-events: none;
}

[aria-label][data-balloon-pos].font-awesome:after {
    font-family: FontAwesome, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

[aria-label][data-balloon-pos][data-balloon-break]:after {
    white-space: pre;
}

[aria-label][data-balloon-pos][data-balloon-break][data-balloon-length]:after {
    white-space: pre-line;
    word-break: break-word;
}

[aria-label][data-balloon-pos][data-balloon-blunt]:before,
[aria-label][data-balloon-pos][data-balloon-blunt]:after {
    -webkit-transition: none;
    transition: none;
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:after,
[aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:after {
    -webkit-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    transform: translate(50%, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:before,
[aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:before {
    -webkit-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    transform: translate(50%, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos*="-left"]:after {
    right: 0;
}

[aria-label][data-balloon-pos][data-balloon-pos*="-left"]:before {
    right: 5px;
}

[aria-label][data-balloon-pos][data-balloon-pos*="-right"]:after {
    left: 0;
}

[aria-label][data-balloon-pos][data-balloon-pos*="-right"]:before {
    left: 5px;
}

[aria-label][data-balloon-pos][data-balloon-pos*="-left"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos*="-left"][data-balloon-visible]:after,
[aria-label][data-balloon-pos][data-balloon-pos*="-right"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos*="-right"][data-balloon-visible]:after {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos*="-left"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos*="-left"][data-balloon-visible]:before,
[aria-label][data-balloon-pos][data-balloon-pos*="-right"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos*="-right"][data-balloon-visible]:before {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos^="up"]:before,
[aria-label][data-balloon-pos][data-balloon-pos^="up"]:after {
    bottom: 100%;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: translate(0, var(--balloon-move));
    -ms-transform: translate(0, var(--balloon-move));
    transform: translate(0, var(--balloon-move));
}

[aria-label][data-balloon-pos][data-balloon-pos^="up"]:after {
    margin-bottom: 10px;
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:before,
[aria-label][data-balloon-pos][data-balloon-pos="up"]:after {
    right: 50%;
    -webkit-transform: translate(50%, var(--balloon-move));
    -ms-transform: translate(50%, var(--balloon-move));
    transform: translate(50%, var(--balloon-move));
}

[aria-label][data-balloon-pos][data-balloon-pos^="down"]:before,
[aria-label][data-balloon-pos][data-balloon-pos^="down"]:after {
    top: 100%;
    -webkit-transform: translate(0, -webkit-calc(var(--balloon-move) * -1));
    -ms-transform: translate(0, calc(var(--balloon-move) * -1));
    transform: translate(0, calc(var(--balloon-move) * -1));
}

[aria-label][data-balloon-pos][data-balloon-pos^="down"]:after {
    margin-top: 10px;
}

[aria-label][data-balloon-pos][data-balloon-pos^="down"]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: var(--balloon-color);
}

[aria-label][data-balloon-pos][data-balloon-pos="down"]:after,
[aria-label][data-balloon-pos][data-balloon-pos="down"]:before {
    right: 50%;
    -webkit-transform: translate(50%, -webkit-calc(var(--balloon-move) * -1));
    -ms-transform: translate(50%, calc(var(--balloon-move) * -1));
    transform: translate(50%, calc(var(--balloon-move) * -1));
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:after,
[aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:after {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:before,
[aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:before {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:after,
[aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
    left: 100%;
    top: 50%;
    -webkit-transform: translate(var(--balloon-move), 50%);
    -ms-transform: translate(var(--balloon-move), 50%);
    transform: translate(var(--balloon-move), 50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:after {
    margin-left: 10px;
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: var(--balloon-color);
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:after,
[aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
    right: 100%;
    top: 50%;
    -webkit-transform: translate(-webkit-calc(-1*(var(--balloon-move) * -1)), -50%);
    -ms-transform: translate(calc(-1*(var(--balloon-move) * -1)), -50%);
    transform: translate(calc(-1*(var(--balloon-move) * -1)), -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:after {
    margin-right: 10px;
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: var(--balloon-color);
}

[aria-label][data-balloon-pos][data-balloon-length]:after {
    white-space: normal;
}

[aria-label][data-balloon-pos][data-balloon-length="small"]:after {
    width: 80px;
}

[aria-label][data-balloon-pos][data-balloon-length="medium"]:after {
    width: 150px;
}

[aria-label][data-balloon-pos][data-balloon-length="large"]:after {
    width: 260px;
}

[aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
    width: 380px;
}

@media screen and (max-width: 768px) {
    [aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
        width: 90vw;
    }
}

[aria-label][data-balloon-pos][data-balloon-length="fit"]:after {
    width: 100%;
}

div#pollresult_meta_box .inside .poll-thumb-image.poll-image {
    display: none;
}

/* Poll Result Post Box */
#pollresult_meta_box .wbpoll-question-choices-item-content .poll-image,
#pollresult_meta_box .wbpoll-question-choices-item-content .poll-video,
#pollresult_meta_box .wbpoll-question-choices-item-content .poll-audio {
    display: none;
}

.wbcom-settings-section-options select[name="wbpolls_settings[create_poll_page]"] {
    margin: 0 0 20px;    
}

@media screen and (max-width: 767px) {
    .wbcom-settings-section-options select[name="wbpolls_settings[poll_dashboard_page]"] {
        margin: 0 0 20px;
    }

    .wbcom-settings-section-options .wbcom-settings-section-options-heading-poll {
        margin-top: 20px;
    }
}

/* loader */

.preloaderBg {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 9999;
}

.preloaderBg .preloader2 {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #2271b1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    position: relative;
    margin: auto;
    top: 0px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

/* ply CSS */

/* Global loading */
.ply-global-loading {
    top: 50%;
    right: 50%;
    padding: 30px;
    width: 60px;
    height: 60px;
    margin: -100px -60px 0 0;
    z-index: 100000;
    position: fixed;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.ply-loading-spinner {
    width: 100%;
    height: 100%;
    opacity: .9;
    background: #fff;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .6);
}

.ply-loading-spinner::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #333;
    max-height: 0;
    -webkit-animation: loading 3s normal infinite;
    animation: loading 3s normal infinite;
}

@keyframes loading {
    0% {
        max-height: 0;
    }

    50% {
        max-height: 100%;
        top: 0;
    }

    100% {
        max-height: 0;
        top: 120%;
    }
}

@-webkit-keyframes loading {
    0% {
        max-height: 0;
    }

    50% {
        max-height: 100%;
        top: 0;
    }

    100% {
        max-height: 0;
        top: 120%;
    }
}

/* Layer */
.ply-layer {
    color: #333;
    min-width: 280px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    background-color: #fff;
    border-radius: 2px;
    font-size: 16px;
    font-family: "Arial", Helvetica;
}

.ply-layer.alert .ply-content,
.ply-layer.confirm .ply-content {
    padding: 20px 0 15px;
    text-align: center;
}

.ply-layer.base .ply-footer,
.ply-layer.alert .ply-footer,
.ply-layer.confirm .ply-footer,
.ply-layer.prompt .ply-footer {
    margin-top: 20px;
    text-align: center;
}

.ply-inside {
    padding: 20px;
}

.ply-header {
    margin: -20px -20px 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f1f1f1;
    border-radius: 2px 2px 0 0;
}

.ply-footer .ply-ctrl {
    margin-right: 20px;
}

.ply-footer .ply-ctrl:first-child {
    margin-right: 0;
}

/* Controls */
.ply-x {
    top: 12px;
    left: 5px;
    cursor: pointer;
    padding: 5px;
    z-index: 1000;
    position: absolute;
    font-size: 20px;
    line-height: 0;
}

.ply-ok,
.ply-cancel {
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 5px 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    background-color: #39C082;
    border-radius: 3px;
    font-size: 18px;
}

.ply-ok {
    width: 100px;
}

.ply-cancel {
    background-color: #b2b2b2;
}

.ply-ok:focus,
.ply-cancel:focus {
    box-shadow: 0 0 1px 2px rgba(255, 180, 0, .6);
    border: 2px solid rgb(255, 210, 102) \9;
}

.ply-ok::-moz-focus-inner,
.ply-cancel::-moz-focus-inner {
    border: 0;
}

/* Forms */
.ply-input {
    width: 100%;
    border: 2px solid #ccc;
    outline: 0;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 16px;
    font-family: "Arial", Helvetica;
    box-sizing: border-box;
}

.ply-input:first-child {
    margin-top: 0;
}

.ply-input:focus {
    border-color: #39C082;
}

/* Global modifiers */
.ply-invalid .ply-input {
    border-color: #c00;
}

.ply-loading:before {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    content: '';
    position: absolute;
}

.ply-loading .ply-ok {
    color: rgba(255, 255, 255, .7);
    -webkit-animation: ply-ok-loading 1s linear infinite;
    -moz-animation: ply-ok-loading 1s linear infinite;
    animation: ply-ok-loading 1s linear infinite;
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    background-size: 30px 30px;
    background-image: -webkit-gradient(linear, right top, left bottom,
            color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
            color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
            color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
            to(transparent));
    background-image: -webkit-linear-gradient(-135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
            transparent 75%, transparent);
    background-image: -moz-linear-gradient(-135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
            transparent 75%, transparent);
    background-image: -ms-linear-gradient(-135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
            transparent 75%, transparent);
    background-image: -o-linear-gradient(-135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
            transparent 75%, transparent);
    background-image: linear-gradient(-135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
            transparent 75%, transparent);
}

@-webkit-keyframes ply-ok-loading {
    to {
        background-position: 60px;
    }
}

@-moz-keyframes ply-ok-loading {
    to {
        background-position: 60px;
    }
}

@keyframes ply-ok-loading {
    to {
        background-position: 60px;
    }
}