/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/*----------  Active tab design  ----------*/
.nav-tab.active {
    background: #f1f1f1;
    color: #000;
}

.nav-tab-wrapper ul li.support a.nav-tab:before {
    content: "\f125";
}

.nav-tab-wrapper ul li.general a.nav-tab:before {
    content: "\f111";
}

.nav-tab-wrapper ul li.wbpoll_setting a.nav-tab:before {
    content: "\f108";
}

.nav-tab-wrapper ul li.upgrade a.nav-tab:before {
    content: "\f174";
}

.nav-tab-wrapper ul li.notifications a.nav-tab:before {
    content: "\f16d";
}

.nav-tab-wrapper ul li.email_notification_settings a.nav-tab:before {
    content: "\f466";
}

.wb-plugins-license-tables-wrap {
    margin: 0 !important;
}

.form-table.polls-general-options label.restrictions-option {
    margin: 0 15px 15px 0;
}

.wbcom-admin-option-wrap {
    overflow: inherit;
}

.wp-picker-container input#polls_background_color {
    height: auto;
    border-radius: 5px;
}


/*----------  General tab design  ----------*/
@media screen and (max-width: 782px) {
    .form-table.polls-general-options label.restrictions-option {
        font-size: 14px;
        display: inline-block;
    }
}

@media screen and (max-width: 480px) {
    .form-table.polls-general-options label.restrictions-option {
        display: block;
        margin: 0.35em 0 0.5em !important;
    }
}

/*----------  Support tab css  ----------*/
.bpolls-support-setting {
    width: 100%;
}

.bpolls-faq-row {
    clear: both;
    overflow: hidden;
    padding-bottom: 5px;
}

.bpolls-admin-col-12 {
    float: left;
    padding: 5px 0;
    width: 100%;
}

button.bpolls-accordion {
    background-color: hsl(0, 0%, 87%);
    border: medium none;
    color: hsl(0, 0%, 27%);
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    outline: medium none;
    padding: 15px 20px;
    text-align: left;
    transition: all 0.4s ease 0s;
    width: 100%;
}

button.bpolls-accordion.active,
button.bpolls-accordion:hover {
    background-color: hsl(207, 90%, 54%);
    color: white;
}

div.bpolls-panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    padding: 0 18px;
    transition: max-height 0.2s ease-out;
}

button.bpolls-accordion::after {
    color: hsl(0, 0%, 47%);
    content: "+";
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}

button.bpolls-accordion::after:hover {
    color: white;
}

button.bpolls-accordion.active::after {
    content: "−";
    color: white;
}

.bpolls_excluding_member {
    width: 70%;
}

.bpolls-faqs-block-contain {
    padding: 15px;
    background: #fff;
}

.wbcom-welcome-support-info {
    box-shadow: none;
}

.wbcom-welcome-support-info .col p {
    height: 70px;
}

@media only screen and (max-width: 600px) {

    .wbcom-video-link-wrapper iframe,
    .wbcom-video-link-wrapper .col-right {
        width: 100%;
    }

}

.wbcom-settings-section-options-heading-poll span {
    font-weight: 500;
}

.wbcom-settings-section-wrap .wbcom-settings-section-options a.button-secondary {
    background: #2a5fef;
    border-radius: 8px;
    padding: 5px 20px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #ffff;
    border-color: #2a5fef;
}

.wbcom-settings-section-wrap {
    overflow: inherit;
}

.wb-plugins_page_wbcom-license-page .update-nag,
.wb-plugins_page_wbcom-license-page .updated,
.wb-plugins_page_wbcom-license-page .error,
.wb-plugins_page_wbcom-license-page .notice-error,
.wb-plugins_page_wbcom-license-page .is-dismissible {
    display: none !important;
}
.wb-plugins_page_buddypress-polls .update-nag,
.wb-plugins_page_buddypress-polls .updated,
.wb-plugins_page_buddypress-polls .error,
.wb-plugins_page_buddypress-polls .notice-error,
.wb-plugins_page_buddypress-polls .is-dismissible,
.toplevel_page_wbcomplugins .update-nag,
.toplevel_page_wbcomplugins .updated,
.toplevel_page_wbcomplugins .error,
.toplevel_page_wbcomplugins .notice-error,
.toplevel_page_wbcomplugins .is-dismissible{
    display: none !important;
}
.wb-plugins_page_wbcom-support-page .update-nag,
.wb-plugins_page_wbcom-support-page .updated,
.wb-plugins_page_wbcom-support-page .error,
.wb-plugins_page_wbcom-support-page .notice-error,
.wb-plugins_page_wbcom-support-page .is-dismissible,
.wb-plugins_page_wbcom-plugins-page .update-nag,
.wb-plugins_page_wbcom-plugins-page .updated,
.wb-plugins_page_wbcom-plugins-page .error,
.wb-plugins_page_wbcom-plugins-page .notice-error,
.wb-plugins_page_wbcom-plugins-page .is-dismissible {
    display: none !important;
}
